/*middle 中文*/
#row_5_m{width:816px;margin:0px; padding:0px;text-align:left;margin-top:10px;margin-left:5px;float:left;display:inline;overflow-x:auto;}

/*middle 英文*/
.esc_sch_res {width:816px;padding-left:5px;overflow-x:auto;}

/*搜索结果显示方式样式开始*/

/*明细方式 start*/

/*普通结果*/
.detail_tr			{ height:25px;}

.detail_0_0 {}
.detail_0_123		{ width:789px;font-size:14px;line-height:20px;font-weight:bold;color:#FF6600;}

.detail_1_0			{ width:27px;}
.detail_1_1			{ width:600px;}
.detail_1_2			{ width:93px;}
.detail_1_3			{ width:96px;}

.detail_2_0			{}
.detail_2_12		{ color:#666666;font-size:12px;font-weight:bold;}
.detail_2_123		{ color:#666666;font-size:12px;font-weight:bold;}
.detail_2_3			{}

.detail_3_0			{}
.detail_3_12		{ width:693px;}
.detail_3_123		{ width:789px;}

/*hot广告*/
.hot_detail_tr		{ height:25px;background-color:#FFFAF4;}

.hot_detail_0_0		{ border-top:1px solid #FFA100;border-left: 2px solid #FFA100;}
.hot_detail_0_123	{ width:789px;border-top:1px solid #FFA100;border-right:2px solid #FFA100;}

.hot_detail_1_0		{ border-left: 2px solid #FFA100;}
.hot_detail_1_12	{ width:693px;}
.hot_detail_1_3		{ border-right:2px solid #FFA100;}

.hot_detail_2_0		{ border-left: 2px solid #FFA100;}
.hot_detail_2_123	{ width:789px;border-right:2px solid #FFA100;}
/*明细方式 end*/

/*列表方式 start*/

/*普通结果*/
.list_tr			{ height:25px;}

.list_10			{ width:24px;}
.list_11			{ width:312px;}
.list_12			{ width:260px;padding-left:15px;}
.list_13			{ width:85px;padding-left:15px;}
.list_14			{ width:90px;}
.list_15			{ width:15px;}

/*hot广告*/
.hot_list_tr		{ height:30px;background-color:#FFFAF4;}

.hot_list_10		{ width:20px;border-top:1px solid #FFA100;border-left:3px solid #FFA100;}
.hot_list_11		{ width:312px;border-top:1px solid #FFA100;}
.hot_list_12		{ width:260px;padding-left:15px;border-top:1px solid #FFA100;}
.hot_list_13		{ width:85px;padding-left:15px;border-top:1px solid #FFA100;}
.hot_list_14		{ width:90px;border-top:1px solid #FFA100;}
.hot_list_15		{ width:15px;border-top:1px solid #FFA100;border-right: 3px solid #FFA100;}

/*列表方式 end*/
/*搜索结果显示方式样式结束*/