/*
===============================
文件名称：search.css
创建时间：2009-03-03
创 建 者：junjie Zhang
版    本：www.51job.com_V1.0
功能描述：职位搜索
===============================
修 改 者：
修改时间：
修 改 点：
===============================
*/
/*顶部的位置*/
.navbtbg{
	background-image: url(http://images.51job.com/im/2009/navbtbg.gif);
	background-repeat: repeat-x;
	*margin-top:-5px;
	_margin-top:-5px;
	height:31px;
}
body { background-color:#ffffff; }
* { font-size: 12px; }
#areaver span a:link
{
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #ff7300;
}

#areaver span a:hover
{
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	color: #ff7300;
}

#areaver span a:visited
{
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #ff7300;
}
/**/
.jobtop
{
	background-image: url(http://images.51job.com/im/2009/search/jobtopbg.gif);
	background-repeat: repeat-x;
	height:49px;
	line-height:40px;
}
.mjob_left {
	font-size:14px;
	font-weight:bold;
	margin-left:20px;
	float:left;
}
.mjob_right {
	margin-right:50px;
	margin-top:5px;
	float:right;
}
.selJobLine {
	background-image: url(http://images.51job.com/im/2009/search/jobleftbg.gif);
	background-repeat: repeat-y;
	background-position: left;
}
.jobsearch_l
{
	float:left;
	width:248px;
}
.bbsbtlist
{
width:228px;
font-size:12px;
color:#666666;
}
.bbsbtlist_bottom
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c3c3c3;	
}
.bbsbtlist .gray { background-color: #f2f2f2; }
/**/
.pot
{
	background-image: url(http://images.51job.com/im/2009/pot.gif);
	background-repeat: repeat-x;
	height:5px;
	width:800px;
	margin-top:5px;
	padding-bottom:5px;
}
.pot1
{
	background-image: url(http://images.51job.com/im/2009/pot.gif);
	background-repeat: repeat-x;
	height:5px;
	width:500px;
	margin-top:5px;
	padding-bottom:5px;
}

.pot2
{
	background-image: url(http://images.51job.com/im/2009/pot.gif);
	background-repeat: repeat-x;
	height:5px;
	width:580px;
	margin-left:18px;
}

.arrowshow
{
clear:both;
position:relative;
margin-left:18px;
}
.s_search
{
width:964px;
padding-bottom:10px;
}
.ss_text
{
width:952px;
background-color:#FFFFFF;
margin-left:5px;
}


.insearch2 , .insearch3 , .insearch4, .insearch5 {
	font:"宋体";
	font-size:12px;
	color:#333333;
	margin-left:6px;
	background-color:#FFFFFF;
	padding-left:6px;
	padding-top:10px;
	float:left;
}
.insearch2 ul , .insearch3 ul , .insearch4 ul , .insearch5 ul{ height:27px; }
.insearch2 li , .insearch3 li , .insearch4 li , .insearch5 li{ float:left; }
.insearch2 p , .insearch3 p , .insearch4 p, .insearch5 p { 
	float:left; padding-right:3px; margin-top:-7px; *margin-top:-9px; _margin-top:-8px;
}

.insearch2 { width:850px; }
.insearch3 { width:540px; }
.insearch4 { width:260px; }
.insearch5 { width:620px; }
.insearch2 ul { width:700px; }
.insearch3 ul { width:300px; }
.insearch4 ul { width:210px; }
.insearch5 ul { width:600px; }
.search_map .insearch5 , .search_map .insearch5 p, .search_map .insearch5 ul {  margin-left: 0px;  }

.search3 , .search8  , .search9 { 	height: 20px; line-height: 20px; }
.search8 , .search9 {
	border: 1px solid rgb( 165 , 165 , 167 );
	
	background-image:  url( http://images.51job.com/im/2009/searchbg.gif );
	background-repeat: no-repeat;
	margin-top: 5px;
	background-color: #ffffff;
	background-position: 5px center;
	padding-top: 5px;
	padding-left: 22px;
}
.search3 { width: 330px; }
.search8 { width: 225px; }
.search9 { width: 500px; }
.zz_search10 { width: 438px; }

.map_tr1 td { vertical-align: bottom; padding-bottom1: 10px; border1: 1px solid red; }
.fullMap { text-align: center; margin-bottom: 15px; }

.searchan
{
padding-top: 6px;
}
.keyblue
{
color:#0265c2;
}
.keyname
{
padding-top: 6px;
}
.close_s
{
position:relative;
padding-left:15px;
padding-top:4px;
}

.close_s img { cursor:pointer; }
.close_s1
{
padding-top:4px;
}
.close_s1 img {
cursor:pointer; 
margin-left:13px;
_margin-left:18px;}
.insearch2_right
{
float:left;
}
.q {
	text-align:right;
	padding-top:4px;
	padding-right:6px;
}
.adviceHelp { text-align:right; padding-top:4px; padding-right:6px; }
/*左右结构*/
.search_left,.search_right { float:left; }
.search_left
{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #c3c3c3;
	width:165px;
}
.search_right {
	margin-left:10px;
	width:788px;
	border1:1px solid red;
}
.search_right_top
{
padding-top:10px;
}
.btclass
{
	background-image: url(http://images.51job.com/im/2009/search/c/zhjlr.gif);
	height:29px;
	font-size: 14px;
	background-repeat: no-repeat;
	font-family: "宋体";
	font-weight: bold;
	padding-top: 8px;
	padding-right: 10px;
	padding-left: 2px;
	margin-left:10px;
}
.txt_sp
{
	padding-bottom: 6px;
	padding-left: 10px;
}
.hotJobidBg {
	background-image: url(http://images.51job.com/im/2009/search/hotJobidBg.gif);
	height:22px;
	line-height:22px;
}
.bline_search
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c3c3c3;
	padding-bottom:4px;
	margin-bottom:5px;
	font:"宋体";
	font-size:12px;
	
}
.zjjzss_kb { padding-top:2px; }
.bt_re
{
	color:#6c6c6c;
	text-align:center;
	font-weight: bold;
	background-color: #f7f7f7;
	line-height:20px;
}
.bt_pc
{
	text-align:center;
}
.bt_pc1
{
	color:#6c6c6c;
	line-height:30px;
	text-align:center;
}
.bt_pc1 input { color: #c4c4c4; }
.bt_center
{
color:#072d42;
font:"宋体";
font-size:12px;
}
.page
{
margin-left:172px;
}
.page1
{
font-size:16px;
margin-left:170px;
}
/*地图搜索*/
.searchmap
{
margin: 0 auto;
width:835px;
padding-top:20px;
padding-bottom:20px;
}
.search_map
{
	margin-left:6px;
	width:820px;
	height:380px;
	background-image: url(http://images.51job.com/im/2009/search/dqbg.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #FFFFFF;
}
.search_map .left28px , .search_map .left14px { margin-left: 28px; }
* html .search_map .left14px { margin-left: 14px; }
.search_map .mapPriv { float: left; }
.mapfont
{
font-family:"宋体";
font-size:12px;
color:#333333;
}
.btmap
{
margin:15px;
}
.maparea
{
	color:#ff7300;
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-left: 28px;
}
.maparea1
{
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-left: 28px;
}
.maparea1 a { margin-left: 15px; }
/*地区选择*/
.areasele
{
	margin: 0 auto;
	background-repeat: no-repeat;
	
	width: 668px;
	margin-top:10px;
	padding-bottom:10px;
}
.areasele_c { height: 425px; background-image: url(http://images.51job.com/im/2009/search/c/areaselebg.gif); }
.areasele_e { height: 500px; background-image: url(http://images.51job.com/im/2009/search/e/areaselebg.gif); }
.mapfont1
{
font-family:"宋体";
font-size:12px;
color:#333333;
line-height:20px;
}
.s_bt
{
	font-family:"宋体";
	font-size:14px;
	color:#333333;
	font-weight:bold;
	padding-top: 23px;
	padding-right: 30px;
	padding-bottom: 40px;
	padding-left: 35px;
}
/*搜索*/
.ins_left,.ins_right
{
float:left;
}
.ins_left
{
	width:660px;
	margin-left:4px;
}
.ins_right
{
	width:272px;
	margin-left:20px;
}
.search_top
{
padding-bottom:10px;
}
.right_t
{
background:#FFFFFF;
margin-left:6px;
width:260px;
height:200px;
}
.left_t
{
background:#FFFFFF;
margin-left:6px;
width:646px;
}
.labelsearch
{
	background-image: url(http://images.51job.com/im/2009/area/labelbg.gif);
	background-repeat: repeat-x;
	height:33px;
}
.c_l
{
	padding-top:20px;
}
.c_l select { width: 105px; }
.c_r
{
	padding-top:10px;
}
.search_robot
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ff8a2a;
	border-right-color: #ff8a2a;
	border-bottom-color: #ff8a2a;
	border-left-color: #ff8a2a;
	background-color: #fffaf6;
	width:380px;
	height:32px;
	text-align:center;
	vertical-align: middle;
	line-height:32px;
	margin-bottom:5px;
	_margin-top:-10px;
}
/*职位详细*/
.bgjob
{
	background-image: url(http://images.51job.com/im/2009/search/srbg.gif);
	background-repeat: repeat-x;
	background-position: top;
}
.sr_ad
{
margin:0 auto;
width:751px;
}
.ad_s
{
margin:5px;
}
.s_txt_jobs
{
margin:0 auto;
width:700px;
background-color:#FFFFFF;

}
.jobs_1
{
font-size:12px;
}
.sr_bt
{
	font-size:14px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #fd5900;
	font-weight: bold;
}
.jobs_com
{
width:90%;
padding-bottom:10px;
margin-left:35px;
}
.jobs_txt
{
background-color:#FFFFFF;
margin-left:6px;
width:98%;
font:"宋体";
font-size:12px;
}
.txt_font
{
	line-height:20px;
	margin:18px;
}
.txt_font1
{
	line-height:20px;
	margin-left:18px;
}
.txt_1
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e3e3e3;
	background-color: #f1f1f1;
	padding:7px;
}
.txt_2
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e3e3e3;
	background-color: #ffffff;
	padding:7px;
}
.txt_3
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #fd5900;
	margin-top:5px;
	height:28px;
	line-height:35px;
}
.txt_4 {
	padding:7px;
	line-height:20px;
	width:600px;
	margin-left:20px;
}
.txt
{
color:#364878;
font-size:12px;
text-align:right;
margin-right:40px;
}

.coPerPage { color:#364878; font-weight:bold; }
.coPerPage span , .coPerPage a { display:block; float:left; height:19px; line-height: 19px; margin-left: 7px; text-align: center; }
.txtlab , .txtlab1 { width:20px; border: 1px solid #d7d7d7; }
.txtlab { background-color: #eef1ea; }
.txtlab1{ background-color: #c2e4ff; }

.txt_5
{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #d7d7d7;
}
.txt_6
{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #fd5900;

}
.txt_7
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #fd5900;
	background-color: #f1f1f1;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #999999;
}
/*左右*/
.jobsearch_left,.jobsearch_right
{
float:left;
}

.jobsearch_left
{
width:216px;
margin-right:20px;
margin-left:40px;
_margin-left:19px;
margin-top:20px;
}

.txt_s
{
width:200px;
background-color:#FFFFFF;
margin-left:6px;
}

.btname1
{
	padding-top:6px;
	margin-left:18px;
	color:#ff7300;
	font-size:14px;
}
/*底部的位置*/
#bott{
	background-image:url(http://images.51job.com/im/2009/bottombg1.gif);
	width:1002px;
	height:41px;
	background-repeat: repeat-x;
	text-align:center;
}

/** add by liyao **/
.qxjyxszw { text-align: center; font-weight: bold; font-size: 14px; color: #333333; height: 150px; line-height: 150px; }

.zz_51color { color: #ff7400; }

.funIndJobareaPare {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #FF6600;
}

.jaTpSchTbl td { text-align: left; }

/*热门关键字搜索*/
.sinTip { clear: both; margin-top: 6px; }
.sinTip span { float: left; height:20px; line-height:20px; }
.sinTip ul { float: left; width: auto; color:#0265c2; }
.sinTip ul li { float: none; width: auto; height: auto; height: 20px; line-height: 20px; }
.sinTip ul li a { margin:0 3px; }
.sinTip .sinTipTxt { height: auto; }
.sinTip .sinTipTxt1 { height: 20px; overflow:hidden;  }

/*在结果中筛选*/
.refineNavOn , .refineNavOff{
	font-weight: bold;
	color: #ff7300;
	cursor: pointer;
	height: auto;
	padding-left:16px;
}
.refineNavOn {
	background: url(http://images.51job.com/im/2009/search/arrowblack.gif) no-repeat left center;
}
.refineNavOff {
	background: url(http://images.51job.com/im/2009/search/arrowgray.gif) no-repeat left 3px;
}
.refineMenu{}
.refineMenu ul { margin-left: 14px; }
.refineMenu ul li a  {
	display: block;
	height: auto;
	width: 120px;
	border: 1px solid #ffffff;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #8b8b8b;
	background: url(http://images.51job.com/im/2009/search/arrowgray.gif) no-repeat 3px center;
}
.refineMenu ul li .high  {
	background-image: url(http://images.51job.com/im/2009/search/arrowred.gif);
	color: #ff7300;
}
.refineMenu ul li a:hover  {
	border: 1px solid #cccccc;
	background-color: #f3f3f3;
	background-image: url(http://images.51job.com/im/2009/search/arrowred.gif);
	color: #ff7300;
}

.resultRight .resultListDiv { float: left; margin-right1: 5px; }
.resultRight .resultTopNav { margin-top:6px; }
.resultRight .resultNav { width: 100%; }
.resultRight .resultNav .nav_r { text-align: right; padding-right: 0px; }
.resultRight .resultNav .nav_r table { float:right; }
.navBold td { color: #072D42; font-weight: bold; }
/***********搜索结果列表 start*************/
table { word-wrap: break-word; word-break: keep-all; }
.wordBreakNormal { word-wrap:normal; word-break:normal; }
.resultList {}

.resultList .titleTr { background: url(http://images.51job.com/im/2009/search/jglb_title.gif); }
.resultList .titleTr td { border: 1px solid #e6e6e6; }
.resultList .titleTr .td0 { border-right: 0px; }
.resultList .titleTr .td1 { border-right: 0px; border-left: 0px; }
.resultList .titleTr .td2 { border-right: 0px; }
.resultList .titleTr .td3 { border-right: 0px; }
.resultList .titleTr .td4 { border-right: 0px; }

.resultList .tr0 td { padding-top: 8px; }
.resultList .tr0 .td1 img { cursor: pointer; }
.resultList .tr1 .td123 , .resultList .tr1 .td1234 { color: #717171;}
.resultList .tr2 td { line-height: 18px; }
.resultList .tr2 .td5 span{ cursor: pointer; color: #0265c2;}
.resultList .tr3 { background: #e6e6e6;}
.resultList .tr3 td { height: 1px; }

.resultList td { height: 22px; padding-left: 10px; }
.resultList .td0 { width: 15px; padding-left: 2px; }
.resultList .td3 { width: 90px; }
.resultList .td4 { width: 90px; }
.resultList .td5 { width: 90px; padding-left: 0px;}

/*hot*/
.resultList .hotTr .td0 { border-left: 2px solid #ffa100; }
.resultList .hotTr .td5 { border-right: 2px solid #ffa100; }
.resultList .hotTrLine { background: #ffa100; }
.resultList .hotTrLine td { height: 2px; background: #ffa100; }
.resultList .hotBtmTr * { height: 1px; background: #e6e6e6; overflow:hidden; font-size:0px; }
.resultList .hotBtmTr .td0 { border-left: 2px solid #ffa100;  }
.resultList .hotBtmTr .td5 { border-right: 2px solid #ffa100;  }


/*.resultListWide*/
.resultListWide .td1 { width: 230px; }
.resultListWide .td2 { width: 220px; }
.resultListWide .td1234 { width: 630px; }
.resultListWide .td123 { width: 540px; }

/*.resultListNarrow*/
.resultListNarrow .td1 { width: 130px; }
.resultListNarrow .td2 { width: 130px; }
.resultListNarrow .td1234 { width: 440px; }
.resultListNarrow .td123 { width: 350px; }

/*公司职位链接样式*/
a.jobname:link , a.coname:link { color: #ff7300; text-decoration: none; }
.jobname { font-weight:bold; }
a.jobname:hover , a.coname:hover { text-decoration: underline; }
a.jobname:visited , a.coname:visited {  color: #993366; }

/*推荐职位样式.resultListRecJobList*/
.resultListRecJobList td { height: 17px; padding-top: 0px; }
.resultListRecJobList .titleTr td { border: 0px; color: #ff7300; font-weight: bold;
	background:url(http://images.51job.com/im/2009/search/s_vline.gif);
	height: 30px;
}
.resultListRecJobList a.jobname:link , .resultListRecJobList a.coname:link { color: #333333; }
.resultListRecJobList a.jobname:hover , .resultListRecJobList a.coname:hover { color: #ff7300; }
.resultListRecJobList .jobname { font-weight:400; }
.resultListRecJobList .td0 { width: 0px; }
.resultListRecJobList .td1 { width: 160px; }
.resultListRecJobList .td2 { width: 150px; }
.resultListRecJobList .td3 { width: 113px; color: #333333; }
.resultListRecJobList .td4 { width: 0px; display: none; }
.resultListRecJobList .td5 { width: 0px; display: none; }
.recJobList0 * { background: #f3f3f3; }
.recJobList1 * { background: #fbfbfb; }

/*send_resume.php页面推荐职位*/
.send_resume { background: #ffffff; }
.send_resume .titleTr td { background: url(http://images.51job.com/im/2009/search/jglb_title.gif); height:22px; }
.send_resume .titleTr td , .send_resume .recTitleTr td { color: #323232; font-weight: bold; }
.send_resume .titleTr td , .send_resume .titleTr .td4{ border: 1px solid #e6e6e6; }
.send_resume .titleTr .td0 { border-right: 0px; }
.send_resume .titleTr .td1 { border-right: 0px; border-left: 0px; }
.send_resume .titleTr .td2 { border-right: 0px; }
.send_resume .titleTr .td3 { border-right: 0px; }
.send_resume .td0 { width: 15px; padding-left: 2px; }
.send_resume .td1 { width: 260px; }
.send_resume .td2 { width: 230px; }
.send_resume .td4 { width: 80px; display: table-cell; *display: block; }
.send_resume .btmXuxian { padding-top:3px;padding-left:0px;height:5px; }
.send_resume .btmXuxian div { width:100%;border-top:1px dotted #000000;height:3px;over-flow:hidden; }

/***********搜索结果列表 end*******************/


.search_btm0 { padding-bottom: 0px; }
/*搜索条件描述*/
.condDesc {
	width: 950px;
	white-space: nowrap;
	overflow: hidden;
	height: 27px;
	line-height: 27px;
	padding-left: 15px;
	background-image: url(http://images.51job.com/im/2009/search/tjms_bg.gif);
	background-repeat: repeat-x;
}
/*分区选择*/
.districtNav { background-image: url(http://images.51job.com/im/2009/search/tjms_bg.gif); }
.districtNav a {
	font-size: 12px; 
	color: #333333; 
	text-decoration: underline
}
.districtNav a:hover {
	font-size: 12px; 
	color: #ff7300; 
	text-decoration: none
}

/******************* 关键字广告样式 start ***********************/
.kwdAdDiv {
	margin: 0px;
	padding: 0px;
	text-align: left;
	display:block;
	overflow-x: hidden;
	padding-left:5px;
}
.kwdAdTbl {
	text-align: left;
	border: 0;
	margin: 0;
	border-collapse: collapse;
	border-left: 1px #cccccc solid;
	word-wrap: break-word;
	word-break: keep-all;
}

.kwdAdTbl td {
	padding: 0;
	padding-left: 10px;
}

.kwdAdTbl a:link , .kwdAdTbl a:visited , .kwdAdTbl a:active {
	text-decoration: none;
}
.kwdAdTbl a:hover {
	text-decoration: underline;
}

.kwdAdTbl img {
	width: 150px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	border: 0px;
}

.kwdAdBoldLink a:link , .kwdAdBoldLink a:visited , .kwdAdBoldLink a:active {
	font-family: "宋体";
	font-size: 12px;
	color: #454545;
	line-height: 18px;
	font-weight: bold;
}

.kwdAdBoldLink a:hover {
	color: #ff7300; 
}

.kwdAdFineLink , .kwdAdFineLink a:link , .kwdAdFineLink a:visited , .kwdAdFineLink a:active {
	font-family: "宋体";
	font-size: 12px;
	color: black;
	line-height: normal;
	font-weight: normal;
	width:159px;
}

.kwdAdFineLink {
	color: #949494;
}

.kwdAdFineLink a:link , .kwdAdFineLink a:visited , .kwdAdFineLink a:active {
	color: #000000;
}

.kwdAdBlueLink a:link , .kwdAdBlueLink a:visited , .kwdAdBlueLink a:active {
	font-family: "宋体";
	font-size: 12px;
	color: #0059E1;
	font-weight: bold;
	line-height: 18px;
}

.kwdAdBlueLink , .kwdAdBoldLink , .kwdAdFineLink {
	height: 20px;
}

.kwdAd_g_line1{
    background:#cccccc;
	height:1px;
}

.kwdAd_g_line2{
	height: 30px;
}

.kwdAdImgHeight {
	height: 60px;
}
/******************* 关键字广告样式 end   ***********************/

.kwdBold { font-weight: bold; font-size: 14px; }


.relatedArea td { height: 25px; padding-left: 5px; }
.relatedArea .relTitle { width:70px; padding-left: 5px; font-size: 14px; font-weight: bold; color: #6c6c6c }

/*相关搜索*/
.relatedSearch td { width: 114px; }
.relatedSearch a:link { color: #0166c0; text-decoration: none; }
.relatedSearch a:visited { color: #993366; text-decoration: none; }
.relatedSearch a:hover { color: #0166c0; text-decoration: underline; }

/*地区频道*/
.areaChannel a:link { color: #a5a5a5; text-decoration: none; }
.areaChannel a:visited { color: #993366; text-decoration: none; }
.areaChannel a:hover { color: #a5a5a5; text-decoration: underline; }

/*地标选择部分样式 start*/
.dibiao_tbl  {
	height: 30px;
	width: 221px;
	background-image: url(http://images.51job.com/im/2009/search/c/dbbg.gif);
}
.dibiao_tbl td {
	
}
.dibiao_tbl .td0 {
	width: 161px;
}
.dibiao_tbl input {
	padding-top: 5px;
	margin-left: 3px;
	height: 18px;
	width: 96%;
	border: 0px;
	background-color: #f9f9f9;
}
#dibiao_td {
	border0: 1px solid red;
}

.dibiaoLayer table {
	border : 1px solid #a6a6a8;
	width: 221px;
}
.dibiaoLayer table td { padding-left: 3px; padding-right: 3px; height: 22px; }
/*地标选择部分样式 end */

/*职位备注以及意见反馈弹层 start*/
.window03{
	width:280px;
	margin:0px;
	padding:0px;
	background:url(http://images.51job.com/im/2009/search/gray_bg01.gif) repeat-x;
	-height:1%;
	overflow:hidden;
	border:#82868D solid 1px;
	font-size:12px;
}

.adviceLayer { width:330px; background:url(http://images.51job.com/im/2009/search/gray_bg02.gif) repeat-x;}
.adviceLayer .window_close02{ margin-left:230px; }
.adviceLayer .window_con04{ width:316px; line-height: 25px; }
.adviceLayer .adviceTitle{ color:#FF5F00; }
.adviceLayer .win_input{ width:270px; }
.adviceLayer .window_like02{ margin-top:15px; }

.window_title{
	background:url(http://images.51job.com/im/2009/search/window_title_bg.gif) repeat-x;
	height:28px;
	color:#FF5F00;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	line-height:28px;
}
.window_close02{ margin-left:110px; }
.window_con04{
	width:266px;
	margin:0 auto 7px;
	padding:0px;
}
.window_con_bg02{
	padding:10px;
	margin:0px;
	text-align:left;
}
.window_like01{
	margin:3px 0;
	text-align:left;
	width:100%;
}
.win_lab02{
	border:#417D99 solid 1px;
	height:20px;
	line-height:20px;
	text-align:center;
	background:#417D99;
	margin:0px 3px;
	color:#FFFFFF;
	width:53px;
}
.win_lab01{
	border:#417D99 solid 1px;
	height:20px;
	line-height:20px;
	text-align:center;
	background:#C2DFEF;
	margin:0px 3px;
	width:53px;
}
.win_input{
	border:#417D99 solid 1px;
	width:163px;
	padding:3px;
	vertical-align:top;
	margin:0 0 0 3px;
	font-size:12px;
}
.window_like02 img , .window_like02 input{
	margin:0 0 0 63px;
}
/*职位备注弹层 end*/

/*最近使用的搜索器以及一线城市热门搜索组合 start */
.recentSearch ul , .hotSearch ul { padding-top: 5px; }
.recentSearch ul li , .hotSearch ul li {
	/*height:25px;*/
	line-height:20px;
}

.recentSearch 
{
height: 110px;
*height:115px;
_height:116px;
}
.recentSearch ul { 	margin-left: 22px; }
.recentSearch ul li {
	list-style-image:url(http://images.51job.com/jobsearch/images/apoint_org2.gif);
}

.hotSearch { height: auto; }
.hotSearch ul { margin-left: 6px; }
.hotSearch ul .rmsscs {
	padding-left:20px;
	font-weight:bold;
	background:url(http://images.51job.com/im/2009/search/rmsscs_bg.gif);
	height: 28px;
}
.hotSearch ul li {
}

/*最近使用的搜索器以及一线城市热门搜索组合 end */

.typeSearch a:link , .typeSearch a:visited { color:#333333; }
.typeSearch a:hover { color:#ff7300; }
.typeSearch .tsGray { color:#333333; }

.zwms_lxfs { 
	background:url(http://images.51job.com/im/2009/search/zwms_lxfs.gif) repeat-x; 
	height:28px;
	font-weight: bold;
	padding-left: 8px;
	line-height:28px;
}
.no_border { border:0px; }

table.tbl{text-align:left;border:0;margin:0;border-collapse:collapse;} 
table.tbl td{padding:0;}

.searchNav { float: left; }
.searchNav td { text-align:center; }

/**公司所有职位 begin **/
.coJobList { width:90%; margin: auto; }
.coJobList tr { height: 25px;  }
.coJobList .td0 { width:220px; padding-left: 10px; }
.coJobList .td1 { width: 120px; text-align:center; }
.coJobList .td2 { width: 90px; text-align:center; }
.coJobList .td3 { width: 90px; text-align:center; }
.coJobList .td4 { width: 100px; text-align:center; }
/**公司所有职位 end **/

/*分页 start*/
.searchPageNav { height: 28px; }
.searchPageNav .currPage  { padding-left: 5px; padding-right: 5px; text-align:center; }
.searchPageNav a { display:block; width: 15px; border:1px solid #ffffff; text-align:center; }
.searchPageNav a:link {}
.searchPageNav a:visited {}
.searchPageNav a:hover { border-color:#d7d7d7; text-decoration:none; background-color: #eef1ea; }
/*分页 end*/

/*高级搜索首页 start*/
.condSelTbl { width: 100%; }
.condSelTbl tr { height: 35px; }
/*高级搜索首页 end*/

.quName { width: 150px; }
a.orange1:visited {	text-decoration: underline; }
a.orange1:hover {	text-decoration: none; }

/*小Q提示*/
.xqts { float:right; margin-top:7px; color:#545454; }

/*特殊*/
.redbotts
{
  background-image: url(http://images.51job.com/im/2009/search/redbbg.gif);
  background-repeat: repeat-x;
  height: 14px;
  }